/* prettier-ignore */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.componentShape {
		@apply bg-lightModeBgGray dark:bg-darkIntComponentBg dark:text-darkModeText rounded-md;
	}
}

*,
*::before,
*::after {
	font-family: 'Poppins', sans-serif;
}

.no-scrollbar {
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}

@keyframes shimmer {
	0% {
		background-position: -500px 0;
	}
	100% {
		background-position: 500px 0;
	}
}

.skeletonCoinTableSkeleton {
	border-radius: 10px;
	height: 16px;
	background: linear-gradient(to right, #1f2128 4%, #2c2fe6 25%, #1f2128 36%);
	background-size: 1000px;
	animation: shimmer 2s infinite;
}

.crypto-pg-radio-input {
	position: relative;
	background-color: #1f2128;
	cursor: pointer;
}

.crypto-pg-radio-input:after {
	width: 14px;
	height: 14px;
	border-radius: 15px;
	top: -4px;
	left: -1px;
	position: relative;
	background-color: #1f2128;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #06d554;
	box-shadow: 0 0 6px 2px rgba(6, 213, 84, 0.5);
}

.crypto-pg-radio-input:checked:after {
	background-color: #06d554;
	box-shadow: 0 0 8px 3px rgba(6, 213, 84, 0.5);
}

/*
shimer1 #1F2128
	shimer2 #2C2FE6
	*/
